<div id="customRegistration">
	<div class="page-width page-width--narrow">
		<header class="section-header">
			<a href="https://maizon-store.com/" title="Maizon Store"><img src="https://maizon-store.com/cdn/shop/files/logo_maizon_black_png_800px.png" title="Maizon Store" alt="Maizon Store Logo" /></a>
		  <h1 class="section-header__title">
			Thank you for your registration
		  </h1>
		</header>
		<section class="section-intro">
			<p>
				We have received your registration and are currently reviewing it.
			</p>
			<p>
				Your account will usually be activated within 5 working days.
			</p>
			<p>
				If you have any questions or uncertainties in the meantime, please feel free to contact us at any time.
			</p>
		</section>
	</div>
</div>