$border-radius-none: 0px;
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 100px;

$border-radius-none-set: $border-radius-none, $border-radius-none, $border-radius-none, $border-radius-none;
$border-radius-small-set: $border-radius-small, $border-radius-small, $border-radius-small, $border-radius-small;
$border-radius-medium-set: $border-radius-medium, $border-radius-medium, $border-radius-medium, $border-radius-medium;
$border-radius-large-set: $border-radius-large, $border-radius-large, $border-radius-large, $border-radius-large;