$main-color: var(--gradient-base-accent-1);
$sub-color: var(--gradient-base-accent-2);

$base-black: #222222;
$base-black-light: #2a3e4e;
$base-grey: #6d7378;
$base-grey-light: #ebebeb;
$base-white: #ffffff;

$warning-blue: #5a63ff;
$warning-green: #3c763d;
$warning-orange: #f68b1f;
$warning-yellow: #FBBD08;
$warning-red: #a94442;

$headline-color: $base-black;
$text-color: $base-black-light;