$h1-size: calc(18px * 2.5);
$h2-size: calc(18px * 2.25);
$h3-size: calc(18px * 2);
$h4-size: calc(18px * 1.75);
$h5-size: calc(18px * 1.5);
$h6-size: calc(18px * 1.25);

$font-size-large: calc(18px / 1.25);
$font-size-medium: calc(18px / 1.5);
$font-size-small: calc(18px / 1.75);

$hint-size-default: calc(18px / 2);

$font-size-default: 18px;