$margin-none: 0px;
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 30px;

$margin-none-set: $margin-none $margin-none $margin-none $margin-none;
$margin-small-set: $margin-small $margin-small $margin-small $margin-small;
$margin-medium-set: $margin-medium $margin-medium $margin-medium $margin-medium;
$margin-large-set: $margin-large $margin-large $margin-large $margin-large;