$padding-none: 0px;
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;

$padding-none-set: $padding-none $padding-none $padding-none $padding-none;
$padding-small-set: $padding-small $padding-small $padding-small $padding-small;
$padding-medium-set: $padding-medium $padding-medium $padding-medium $padding-medium;
$padding-large-set: $padding-large $padding-large $padding-large $padding-large;