.ProductForm {
	.sold-out__link {
		border: 1px solid $base-black;
		padding: $padding-small;
		margin: $margin-small $margin-none $margin-none $margin-none;
		@include border-radius(6px, 6px, 6px, 6px);
		@include transition(all .3s ease);
		background: $base-black;
		color: $base-white;
		&:hover {
			color: $base-black;
			background: $base-white;
			border: 1px solid $base-grey-light;
		}
	}
}