html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

.grecaptcha-badge {
  display: none !important;
}

.slider-buttons {
  display: none !important;
}
#admin-bar-iframe {
  display: none !important;
}