<div id="brand__container">
  <div id="brand__container--header">
    {{ page.metafields.reference.brand.value.markenname.value }}
  </div>
  <div id="brand__container--content">
    
  </div>
  <div id="brand__container--products">
    
  </div>
  <div id="brand__container--footer">
    
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-brand.name",
  "tag": "section"
}
{% endschema %}
