<div id="brand__container">
  <div id="brand__container--header">
    {{ page.metafields.reference.brand.value.markenname.value }}
  </div>
  <div class="page-width page-width--narrow page-content">
    <div id="brand__container--content">
      
    </div>
    <div id="brand__container--products">
      {% assign products = page.metafields.reference.brand.value.produkte_der_marke.value %}
      {%- for product in products -%}
          <div>
              {{ product.title}}
          </div>
          <br>
      {%- endfor -%}
    </div>
    <div id="brand__container--footer">
      
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-brand.name",
  "tag": "section"
}
{% endschema %}
