<div class="page-width page-width--narrow page-content">
  <header class="section-header">
    <h1 class="section-header__title">
      {{ page.title | escape }}
      {% assign seite = page.handle %}
{% for referenz in site.pages %}
  {% if referenz.metafields.gemischte_referenz.metafield_namespace == "marke" and referenz.metafields.gemischte_referenz.metafield_key == "marke" %}
    {% assign marke = referenz.metafields.gemischte_referenz.value %}
    {% if marke.markenname %}
      {% if referenz.handle == seite %}
        <p>Markenname: {{ marke.markenname }}</p>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
    </h1>
  </header>

  <div class="rte rte--nomargin">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section"
}
{% endschema %}
