#customRegistration {
	display: block;
	position: relative;
	float: none;
	clear: both;
	width: 90%;
	max-width: 768px;
	margin: $margin-large auto;
	padding: $padding-large;
	@include box-shadow(0, 13px, 43px, rgba(37, 46, 89, .1));
	border: 1px solid $base-grey-light;
	@include screen(med) {
		position: relative;
		margin: $margin-large auto;
		max-width: 100%;
		width: 95%;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		@include transform(0%, 0%);
	}
	.section-header {
		a {
			display: block;
			text-align: center;
			img {
				max-width: 250px;
				margin: $margin-large auto;
			}
		}	
	}
}