#shopify-section-header {
	#Search {
		// TODO: Import
	}
	#section-header {
		.Header__Wrapper {
			.Header__FlexItem {
				&.Header__FlexItem--logo {
					padding: $padding-medium $padding-none;
					.Header__Logo {
						.Header__LogoLink {
							img {
								@include screen(med) {
									max-width: 150px;
								}
							}
						}
					}
				}
				.Header__MainNav {
					ul {
						li {
							margin: 0px 14px !important;
						}
					}
				}
			}
		}
	}
}