.mod-stickybar-cart {
	.ProductMeta {
		@media only screen and (min-width: 768px) {
		  flex-direction: row;
		  justify-content: space-between;
		  width: calc(100% - 300px) !important;
		}
		.ProductMeta__Vendor {
			display: none !important;
		}
		.ProductMeta__TaxNotice {
			display: none !important;
		}
	}
}