@mixin center-horizontal {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

/* ============================================ */
/* :::::::::::::::: USAGE OF CODE ::::::::::::: */
/* ============================================ */
	
p.targetElement { 
	@include center-horizontal;
}