$breakpoint-x-small: 480px;
$breakpoint-small: 640px;
$breakpoint-med-small: 768px;
$breakpoint-med: 990px;
$breakpoint-large: 1140px;
$breakpoint-x-large: 1240px;
$breakpoint-xx-large: 1400px;

@mixin screen($size, $type: max, $pixels: $breakpoint-x-small) {
  @if $size == 'x-small' {
    @media screen and ($type + -width: $breakpoint-x-small) {
        @content;
    }
  }
  @else if $size == 'small' {
    @media screen and ($type + -width: $breakpoint-small) {
        @content;
    }
  }
  @else if $size == 'med-small' {
    @media screen and ($type + -width: $breakpoint-med-small) {
        @content;
    }
  }
  @else if $size == 'med' {
    @media screen and ($type + -width: $breakpoint-med) {
        @content;
    }
  }
 @else if $size == 'large' {
    @media screen and ($type + -width: $breakpoint-large) {
        @content;
    }
  }
  @else if $size == 'x-large' {
    @media screen and ($type + -width: $breakpoint-x-large) {
        @content;
    }
  }
  @else if $size == 'xx-large' {
    @media screen and ($type + -width: $breakpoint-xx-large) {
        @content;
    }
  }
  @else {
    @content;
  }
}