@mixin text-shorten {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

/* ============================================ */
/* :::::::::::::::: USAGE OF CODE ::::::::::::: */
/* ============================================ */
	
p.targetElement { 
	@include text-shorten();
}